<div class="container">
    <div class="about" id="about">
        <div class="col-md-10 col-md-offset-1">
            <div class="row bg-color-about">
                <div class="col-md-6">
                    <img src="../img/logo.jpg" class="img-rounded img-responsive" width="400px" alt="">
                </div>
                <div class="col-md-5">
                    <p>Hello, welcome to You’re Gonna Need a Bigger Quote, the internet’s most okayest movie quote database! Here at YGNBQ, we pride
                        ourselves on being the little section of the internet you can go to when you need to find or remember a certain movie
                        quote. Our site has a few different features. Obviously, you can search our database for a particular movie quote. You
                        even have the option to save it for later! If you can’t find the particular movie quote you’re looking for, head on over
                        to our submit page and fill out the form to submit your quote.</p>
                </div>
            </div>
        </div>
    </div>
</div>