<div id="edit">
    <h1 class="text-center">Edit Quote</h1>

    <form name="editMovieQuoteForm" ng-submit="submitForm()" class="col-xs-4 col-xs-offset-4">
        <div class="form-group">
            <input type="text" class="form-control" id="editMovieQuote" ng-required="true" ng-model="movieQuote.quote">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="editCharacter" ng-required="true" ng-model="movieQuote.character">
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="editMovieQuoteForm.$invalid" ng-click="editMovieQuote(movie)">Submit</button>
    </form>

</div>