<div class="saved row" id="saved">
    <div>
        <h1 class="text-center">My Saved Quotes</h1>
    </div>
    <div id="movies">
        <div class="row" ng-repeat="movie in userQuote">
            <div class="col-md-4">
                <img class="poster_path" ng-src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}" width="250px" alt="">
            </div>
            <div class="col-md-8">
                <h2>{{movie.title}}</h2>
                <p class="small">Release date: {{movie.releaseDate}}</p>
                <div class="quote-body">
                    <p>"{{movie.quote}}"</p>
                    <p>- {{movie.character}}</p>
                </div>
            </div>
        </div>
</div>