<div class="container">
    <div class="search" id="search">
        <h1 class="text-center">Search for Quotes</h1>
        <div class="input-group col-md-6 col-md-offset-3 col-xs-12">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
            <input ng-keypress="enterPush($event)" type="text" class="form-control" placeholder="Type in the movie quote you're looking for" aria-describedby="basic-addon1">
        </div>

        
        <div id="movies" ng-if="quotesDisplay === 1">
            <div ng-repeat="movie in movies" class="col-sm-6 col-md-6 search-quote-row">
                <div class="col-md-6">
                    <img class="poster_path img-rounded img-box-shadow" ng-src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}" width="225px" alt="">
                </div>
                <div class="col-md-6">
                    <h3>{{movie.title}}</h3>
                    <p class="small">Release date: {{movie.releaseDate}}</p>
                    <div class="quote-body">
                        <p>"{{movie.quote}}"</p>
                        <p>- {{movie.character}}</p>
                    </div>
                    <div>
                        <button class="btn btn-default" ng-click="editMovieQuote(movie.movieId)"><i class="fa fa-pencil-square-o"></i> Edit Movie Quote</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center" ng-if="quotesDisplay === 0">
            <h3>Sorry, no quotes.</h3>
            <h4>Try submitting your quote!</h4>
        </div>

    </div>
</div>