<div class="container">
    <div class="submit" id="submit">
        <h1 class="text-center">Submit a Quote</h1>
        <h4 class="text-center">Step 1: Find Your Movie</h4>
        <div class="input-group col-xs-6 col-xs-offset-3">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
            <input ng-keypress="enterPush($event)" type="text" class="form-control" placeholder="Type in the movie title you'd like to add a quote to"
                aria-describedby="basic-addon1">
        </div>

        <div id="movies" class="submit-body">
            <div ng-repeat="movie in movies" class="col-sm-6 col-md-3 movie">
                <div class="thumbnail">
                    <img class="poster_path img-rounded img-responsive" ng-src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}" alt="">
                    <div class="caption">
                        <h5 class="title">{{movie.title}}</h5>
                        <p>
                            <button class="btn btn-primary add-quote" ng-click="addQuote(movie)"><i class="fa fa-plus"></i> Add Quote</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>